@font-face {
    font-family: main-font;
    src: url(Pages/src/fonts/IBMPlexSans.ttf);
} @font-face {
    font-family: q-font;
    src: url(Pages/src/fonts/Al_Majeed.ttf);
} @font-face {
    font-family: qE-font;
    src: url(Pages/src/fonts/IbarraRealNova.ttf);
} @font-face {
    font-family: main-fontAr;
    src: url(Pages/src/fonts/IBMPlexSansArabic-Medium.ttf);
}

:root{
    --main-color: #48530D;
    --background-color: #FFEAAC;
}

/*Main Page*/

@media (max-width: 1000px) {

*{
        text-decoration: none;
}

body{
    margin: 0; padding: 0;
    background-color: var(--background-color);
    font-family: main-font;
}

.top{
    background-color: var(--main-color);
    height: 50px;
    margin-bottom: -21px;
} .top a img{
    padding: 10px 5px;
}

.ayahCont{
    background-color: var(--main-color);
    width: 100%; height: 200px;
    border-bottom-left-radius: 150px;
    color: var(--background-color);
    text-align: right;
    
} .ayahCont h2{
    font-family: q-font;
    font-weight: lighter;
    font-size: 24px;
    padding-right: 15px;
    padding-top: 30px;

} .ayahCont p{
    font-family: qE-font;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
}

.randomZikr{
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.randomZikrBtn{
    width: 90%;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: var(--background-color);
    font-family: main-fontAr;
    transition: all 0.5s ease;
}

.randomZikrBtn:active{
    border-radius: 50px;
    border: var(--background-color) 2px solid;
    transform: scaleY(1.2);
    background-color: var(--background-color);
    color: var(--main-color);
}


.zikrNow{
    background-color: var(--main-color);
    width: 60%; height: 50px;
    border-bottom-left-radius: 50px;
    color: var(--background-color);
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
} .zikrNow p{
    padding: 10px 10px 20px 30px;
}

.azkarCont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zikrType{
    background-color: var(--main-color);
    color: var(--background-color);
    width: 178px; height: 125px;
    padding: 10px 10px;
    margin-left: 5px; margin-bottom: 20px;
    border-radius: 20px;
    border-top-left-radius: 40px;
    transition: all 1s ease;
} .zikrType img{
    padding-left: 10px; padding-top: 5px;
} .zikrType p{
    padding-left: 10px;
    font: 16px;
}

.zikrType:active{
    transform: scale(-1);
}

footer{
    color: var(--main-color);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 10px;
}
}

@media (max-width: 405px) {
    .zikrType{
    background-color: var(--main-color);
    color: var(--background-color);
    width: 150px; height: 125px;
    padding: 10px 10px;
    margin-left: 5px; margin-bottom: 20px;
    border-radius: 20px;
    border-top-left-radius: 40px;
}
}