@font-face {
    font-family: main-font;
    src: url(src/fonts/IBMPlexSans.ttf);
} @font-face {
    font-family: q-font;
    src: url(src/fonts/Al_Majeed.ttf);
} @font-face {
    font-family: qE-font;
    src: url(src/fonts/IbarraRealNova.ttf);
} @font-face {
    font-family: main-fontAr;
    src: url(src/fonts/IBMPlexSansArabic-Medium.ttf);
}



/*Main Page*/

@media (max-width: 768px) {

body{
    margin: 0; padding: 0;
    background-color: var(--background-color);
    font-family: main-font;
}

header{
    background-color: var(--main-color);
    color: var(--background-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
} p{
    padding-left: 10px;
    font-family: main-font;
}


.Azkar{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qZikr{
    border-radius: 50px;
    background-color: var(--main-color);
    width: 90%;
    height: fit-content;
    color: var(--background-color);
    font-weight: lighter;
    text-align: center;
    padding: 10px 10px 10px 10px; 
    margin-bottom: 10px;
    align-content: center;
} h3{
    font-family: q-font;
    font-weight: lighter;
} p{
    font-family: q-font;
    font-weight: lighter;
} .en-Translation{
    font-family: qE-font;
}

button{
    width: 90%;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 5px;
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: main-font;
    transition: all 0.5s ease;
}

button:active{
    border-radius: 50px;
    border: var(--background-color) 2px solid;
    transform: scaleY(1.2);
    background-color: var(--main-color);
    color: var(--background-color);
    font-family: main-font;
}

.typer{
    width: 90%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: var(--main-color);    
    color: var(--background-color);
    font-family: main-font;
    border-radius: 20px;
    text-align: center;
} .typer p{
    font-family: main-font;
    font-weight: 500;
}


.Zikr{
    border-radius: 50px;
    background-color: var(--main-color);
    width: 90%;
    height: fit-content;
    color: var(--background-color);
    font-weight: lighter;
    text-align: center;
    padding: 25px 10px 10px 10px; 
    margin-bottom: 10px;
    align-content: center;
} .Zikr p{
    font-family: main-fontAr;
} .Zikr .en-Translation{
    font-family: qE-font;
}
}