@font-face {
    font-family: main-font;
    src: url(../src/fonts/IBMPlexSans.ttf);
} @font-face {
    font-family: q-font;
    src: url(../src/fonts/Al_Majeed.ttf);
} @font-face {
    font-family: qE-font;
    src: url(../src/fonts/IbarraRealNova.ttf);
} @font-face {
    font-family: main-fontAr;
    src: url(../src/fonts/IBMPlexSansArabic-Medium.ttf);
}

:root{
    --main-color: #48530D;
    --background-color: #FFEAAC;
}
@media (max-width: 768px) {

body{
    margin: 0; padding: 0;
    background-color: var(--background-color);
    font-family: main-font;
}

header{
    background-color: var(--main-color);
    color: var(--background-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} p{
    padding-left: 10px;
}

h3{
    font-family: main-font;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;
}

section{
    width: 100%;
    text-align: center;
}
button{
    width: 90%;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 5px;
    background-color: var(--main-color);    
    color: var(--background-color);
    text-decoration: none;
    font-family: main-font;
} a{
    border-radius: 50px;
}

hr{
    margin-top: 10px; margin-bottom: 15px;
    width: 50%;
    border: solid 0.5px #48530d2f;
    border-radius: 20px;
}



}